<%- include("./partials/html-header")%>
<body class="contact-page" oncut="return false" oncopy="return false">
  <%- include("./partials/site-header")%>
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="entry-header">
            <h2 class="entry-title">Contact</h2>
            <ul class="breadcrumbs flex align-items-center">
              <li><a href="#">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <div class="get-in-touch">
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Faculty Coordinator</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <h2 style="width:110%;">Prof. Rohit Mukherjee</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Technical Team</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <h2>Web Development</h2>
                  <figure class="featured-image">
                    <img src="images/team/<%=team[0].name %>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt="" /> </a>
                  </figure>
                  <h2><%=team[0].name %></h2>
                  <h2>+91 <%=team[0].contact %></h2>
                </div>
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <h2>Designing & Graphics</h2>
                  <figure class="featured-image">
                    <img src="images/team/<%=team[1].name %>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt="" /> </a>
                  </figure>
                  <h2><%=team[1].name %></h2>
                  <h2>+91 <%=team[1].contact %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Cultural Event</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[18].name%>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt="" /> </a>
                  </figure>
                  <h2><%=team[18].name%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Literary Events</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[19].name%>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt="" /> </a>
                  </figure>
                  <h2><%=team[19].name%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Non-Technical Events</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[4].name%>.jpg" alt="" />
                    <a href="#"><img src="images/instagram.svg" alt=""/></a>
                  </figure>
                  <h2><%=team[4].name%></h2>
                  <h2>+91 <%=team[4].contact%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Social Events</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[17].name%>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt=""/></a>
                  </figure>
                  <h2><%=team[17].name%></h2>
                  <h2>+91 <%=team[17].contact%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Technical Event</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[13].name %>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt=""/></a>
                  </figure>
                  <h2><%=team[13].name %></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="the-complete-lineup">
              <div class="entry-title"><h2>Sponsorships</h2></div>
              <div class="row the-complete-lineup-artists">
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[12].name %>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt=""/></a>
                  </figure>
                  <h2><%=team[12].name %></h2>
                  <h2>+91 <%=team[12].contact %></h2>
                </div>
                <div class="col-6 col-md-4 col-lg-3 artist-single">
                  <figure class="featured-image">
                    <img src="images/team/<%=team[22].name%>.jpg" alt="" />
                    <a href="#"> <img src="images/instagram.svg" alt=""/></a>
                  </figure>
                  <h2><%=team[22].name%></h2>
                  <h2>+91 <%=team[22].contact%></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-details">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-medium flex align-items-center">
                  <figure class="contact-icon">
                    <img src="images/phone.jpg" alt="phone icon" />
                  </figure>
                  <div class="contact-content">
                    <div class="entry-title">Phone</div>
                    <div class="entry-content">0141 516 0400</div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                <div class="contact-medium flex align-items-center">
                  <figure class="contact-icon">
                    <img src="images/mail.jpg" alt="phone icon" />
                  </figure>
                  <div class="contact-content">
                    <div class="entry-title">E-mail</div>
                    <div class="entry-content">pravah@skit.ac.in</div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mt-5 mt-lg-0">
                <div class="contact-medium flex align-items-center">
                  <figure class="contact-icon">
                    <img src="images/place.jpg" alt="phone icon" />
                  </figure>
                  <div class="contact-content">
                    <div class="entry-title">Address</div>
                    <div class="entry-content">
                      Ram Nagariya Rd, Shivam Nagar,<br />Jagatpura, Jaipur,
                      <br />Rajasthan 302017<br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-page-map">
          <iframe
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=university of san franciscskit jaipur&t=&z=15&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
        <div class="contact-form">
          <div class="row">
            <div class="col-12 col-md-6">
              <input type="text" placeholder="Your name" />
            </div>
            <div class="col-12 col-md-6">
              <input type="email" placeholder="Your email" />
            </div>
            <div class="col-12">
              <input type="text" placeholder="Subject" />
            </div>
            <div class="col-12">
              <textarea
                name="name"
                rows="8"
                cols="80"
                placeholder="message"
              ></textarea>
            </div>
            <div class="col-12 submit flex justify-content-center">
              <input type="submit" name="" value="send message" class="btn" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs")%>
</body>
